@font-face {
    font-family: yekan;
    src: url("../font/BYekan.ttf");
}

@font-face {
    font-family: gadugi;
    src: url("../font/gadugi.ttf");
}

@font-face {
    font-family: iserif;
    src: url("../font/is.ttf");
}

* {
    direction: rtl !important;
}

body {
    direction: rtl !important;
}

.yekanFont {
    font-family: yekan;
}

.gadugiFont {
    font-family: gadugi;
}

.serifFont {
    font-family: iserif;
}

.navbar-brand span.brandName {
    font-size: 20px;
}

.navbar-brand span.brandLogo img {
    max-width: 50px;
    max-height: 50px;
    margin-top: -10px;
    margin-right: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.bookletSearchForm {
    margin-top: 10px !important;
}

.bookletSearchForm input[type="text"] {
}

.colorWhite {
    color: white;
}

.customHover {
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
}

.customHover:hover {
    background-color: #9c27b0 !important;
    color: white !important;
}

.customCard {
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

.customCard:hover {
    border: 1px solid gray;
}